.Toolbar {
    display: grid;
    grid-template-columns: auto auto 1fr;
    position: fixed;
    gap: 50px;
    top: 0;
    width: 100%;
    // background-color: blue;
    z-index: 1000;
    color: white;
    transition: all .15s ease-in-out;


    .Brand {

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 30px;
        color: white;
        text-decoration: none;

        p {
            margin: 0px;
            font-size: 30px;
        }
    }

    .Pages {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        place-items: center;
        // border: 3px solid black;
        width: 100%;
        gap: 20px;

        .Page {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 200px;
            padding: 20px 10px;
            transition: all .15s ease-in-out;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                box-shadow: inset 0 0 0 2000px rgba($color: #ffffff, $alpha: 0.1);
                transform: scale(1.08);
            }


            p {
                margin: 0px;
                font-size: 20px;
                color: white;

            }
        }
    }
    

}