.App {
  text-align: center;
  font-family: 'Inter800';
}

@font-face {
  font-family: 'Inter100';
  src: local('Inter100'), url(./assets/Inter/Inter100.ttf) format('truetype');
}


@font-face {
  font-family: 'Inter200';
  src: local('Inter200'), url(./assets/Inter/Inter200.ttf) format('truetype');
}



@font-face {
  font-family: 'Inter300';
  src: local('Inter300'), url(./assets/Inter/Inter300.ttf) format('truetype');
}



@font-face {
  font-family: 'Inter400';
  src: local('Inter400'), url(./assets/Inter/Inter400.ttf) format('truetype');
}



@font-face {
  font-family: 'Inter500';
  src: local('Inter500'), url(./assets/Inter/Inter500.ttf) format('truetype');
}



@font-face {
  font-family: 'Inter600';
  src: local('Inter600'), url(./assets/Inter/Inter600.ttf) format('truetype');
}



@font-face {
  font-family: 'Inter700';
  src: local('Inter700'), url(./assets/Inter/Inter700.ttf) format('truetype');
}



@font-face {
  font-family: 'Inter800';
  src: local('Inter800'), url(./assets/Inter/Inter800.ttf) format('truetype');
}
